body {
    color: #fff;
}


.choice-selector {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
    width:100%;
    border-radius: 25px;
    background: linear-gradient(90deg, cornflowerblue 0%, black 100%);
    font-size: 2rem;
    min-width: 80rem;
    text-align: center;
    font-family: 'Press Start 2P';
}

/* Wanted to give the player another visual queue of which selector they are about to choose. I tested the game without this and even though the buttons are large and easily clickable, user response said the highlighting helped them confirm which choice they were making */
.choice-selector:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1.3rem 0 white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    font-family: 'Press Start 2P';
}

/* Instead of a green color for correct guesses I went with a colorway that matched the gold coloring for other buttons/fonts to not have too many clashing colors */
.correct {
    background: linear-gradient(45deg, rgb(239, 241, 117) 0%, rgb(232, 187, 41) 100%);
    color: orange;
}

/* I liked having a red and black gradient instead of just red because it felt more ominous */
/* I'm not sure how to implement this, but I would like to have the selector text change from the provided text to "WRONG ANSWER" when selected */
.incorrect {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(224, 11, 11, 1) 100%);
    color: black;
}

#title {
    font-family: 'Press Start 2P';
    color:white;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}