/* Imported 8bit Video Game style font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Instead of using a black and white gradient, I decided to use the cornflowerblue more to add more color and pop to the page. I also tested how a cornflowerblue font would look with a black and white gradient and it became significantly harder to read. */
body {
    background-image: linear-gradient(90deg, black, cornflowerblue);
    font-size: 16px;
    line-height: 1;
    height: 100%;
}

#main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }

/* I used this structer a lot for different pages with slight tweaks to allow for proper formatting for each pages unique elements */
.game-home-page {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.game-home-page h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

/* Highlighting "Again" matched the design of the portfolio page, while also giving an indirect push to play again*/
.game-home-page h1 #header-h1-span {
    color: gold;
}

.game-home-page h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}

.timer-and-score {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.btn {
    font-size: 32px;
    padding: 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(59, 105, 206) 0%, rgb(168, 168, 168) 100%);
    border-radius: 8px;
    font-family: 'Press Start 2P';
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.3rem 1.3rem 0 white;
    transition: transform 150ms;
    transform: scale(1.03);
}

/* I used this structer a lot for different pages with slight tweaks to allow for proper formatting for each pages unique elements */
.high-scores {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: 'Press Start 2P';
}

/* I used this structer a lot for different pages with slight tweaks to allow for proper formatting for each pages unique elements */
.input-scores {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.input-scores h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

.input-scores h1 #header-h1-span {
    color: cornflowerblue;
}

.input-scores h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}

#username {
    height: 30px;
}

#highscore-btn {
    background: linear-gradient(90deg, yellow 0%, orange 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.3rem 1.3rem 0 white;
}

.high-score {
    font-family: 'Press Start 2P';
    font-size: 36px;
    color: white;
}

#finalScore {
    color:gold;
}

/* I added a pointer element for later user where there would be either an alt tag or a prompt to tell you what your score was out of 800 */
#finalScore:hover {
    cursor: pointer;
    color: white;
}

/* Timer styling */
#countdown, #score {
    font-size: 32px;
    font-family: 'Press Start 2P';
    color: gold;
}

/* I used this structer a lot for different pages with slight tweaks to allow for proper formatting for each pages unique elements */
.game-header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.game-header h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

/* Highlighting "Again" matched the design of the portfolio page, while also giving an indirect push to play again*/
.game-header #header-h1-span {
    color: gold;
}

.game-header h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}

/* I used a different font for the "previous players" quotes as too much of the Press Start 2P font would have cluttered the page and made it hard to read */
.fancy {
    color: rgb(185, 185, 185);
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

