@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-image: linear-gradient(90deg, black, cornflowerblue);
    font-size: 16px;
    line-height: 1;
    height: 100%;
}

#main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }

.game-home-page {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.game-home-page h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

.game-home-page h1 #header-h1-span {
    color: gold;
}

.game-home-page h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}

.timer-and-score {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.btn {
    font-size: 32px;
    padding: 0;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    /* color: rgb(28,26,26); */
    background: linear-gradient(90deg, rgb(59, 105, 206) 0%, rgb(168, 168, 168) 100%);
    border-radius: 8px;
    font-family: 'Press Start 2P';
}

.btn:hover {
    /* background-color: black;
    border: 2px solid cornflowerblue; */
    cursor: pointer;
    box-shadow: 0 0.3rem 1.3rem 0 white;
    transition: transform 150ms;
    transform: scale(1.03);
}

.high-scores {
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: 'Press Start 2P';
}

.input-scores {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.input-scores h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

.input-scores h1 #header-h1-span {
    color: cornflowerblue;
}

.input-scores h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}

#username {
    height: 30px;
}

#highscore-btn {
    background: linear-gradient(90deg, yellow 0%, orange 100%);
}

#highscore-btn:hover {
    box-shadow: 0 0.3rem 1.3rem 0 white;
}

.high-score {
    font-family: 'Press Start 2P';
    font-size: 36px;
    color: white;
}

#finalScore {
    color:gold;
}

#finalScore:hover {
    color: white;
}

/* Timer styling */
#countdown, #score {
    font-size: 32px;
    font-family: 'Press Start 2P';
    color: gold;
}

.game-header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.game-header h1 {
    font-size: 52px;
    color: black;
    font-family: 'Press Start 2P';
}

.game-header #header-h1-span {
    color: gold;
}

.game-header h2 {
    font-size: 26px;
    color: white;
    font-family: 'Press Start 2P';
}


/* .start-button, .high-score-button {
    color:mintcream;
} */

.fancy {
    color: rgb(185, 185, 185);
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .card.timer, .timer-count {
    text-align: right;
    font-size: 32px;
    margin-right: 15px;
    font-family: 'Nova Square';
} */
